
	header{
		background: #273a4e;
		height: 80px;
		z-index:2;
		position: relative;
	    transition: all .1s;
	    overflow:hidden;
		color:white;
		h1 {text-align: center;}
		
		
		.glyphicon-lock {
			top: 0px; 
    		display: inline;
		}
		
		.controls {
			position: absolute;
			top: 0;
			right: 0;
			margin: 20px;
			font-size: 23px;
			text-decoration: underline;
			
			@media only screen and (max-width: 550px) {
				& {	margin:4px;}
			}				
			
		}
		
		
	
		.xxxlogout{
			position: absolute;
			z-index: 10;
			top: 10px;
			right: 10px;
			font-size: 18px;
		}
	}

