
.list {	

	/**************  RESPONSIVE  ********************/  
	
	@media screen and  (min-width : 992px) {
	
		
	}	
	
	
	@media screen and  (max-width : 991px) {	/*Phone*/			
		td:nth-child(5){
			display:none;
		}	 
	}		
	
	@media screen and  (max-width : 767px) {	

	}	
	
	@media screen and  (max-width : 550px) {	
		td:last-child {
			width: 80px!important;
		}		
	}	
	
	@media screen and  (max-width : 315px) {	
		td:nth-child(2), td:nth-child(6) {
			display:none;
		}		
	}	
	
	
	
	

		
	@media only screen and (max-width: 550px) {
			& {
				margin: 10px 2px;
				max-width: calc(100% - 4px) !important;
			}

			td:nth-child(1),
			td:nth-child(4),
			td:nth-child(6){	
				display:none;
			}
			
			.edit,
			.delete {
				overflow: hidden;
				display: inline-block;
				width: 15px;			
				vertical-align: middle;
				font-family: "Glyphicons Halflings";
			}
			
			.edit:before   { content: "\e065"; }
			.delete:before { content: "\e020"; }	
	}		
	
	
	
	
	
		
}
 
