	
	
	
	footer{
		width: 100%;
        height: 50px;
		background: black;		
		font-size: 13px;
		line-height: 21px;
		color: #626262; 		
		font-size: 12px;	
		overflow: hidden;	
		z-index:2;
		position: relative;	
		.copyright{
			color: #BBBBBB;		
		}	
		
	}


	
	