
	header{
		background: url('/bg.jpg');
		height: 80px;
		z-index:2;
		position: relative;
	    transition: all .1s;
	    overflow:hidden;
		color:white;
		
		.controls {
			position: absolute;
			top: 0;
			right: 0;
			margin: 20px;
			font-size: 23px;
			text-decoration: underline;
		}
		
		a{
			
			xxmax-width: 300px;
			xxxheight: 55px;
			xxmargin-top: 10px;
		}	
	
		.logout{
			position: absolute;
			z-index: 10;
			top: 10px;
			right: 10px;
			font-size: 18px;
		}
	}

