

        	html, body{height: 100%;}
        	
			a{cursor:pointer;}
        	
        	body .order-window{
        	    overflow: hidden;
        		margin-left: auto;
        		margin-right: auto;
        		position: relative;
        		width:  calc(100% - 20px);
				height: calc(100vh - 150px);

				background: rgba(255,255,255, .7);
				margin-top: 10px;


				border: solid #DDDDDD 1px;
				border-radius: 10px 10px 0 0;
        	}
        	

        	
        	body .order-window>div{
				xmargin-top: 10px;
        	    xxborder: solid #DDDDDD 1px;
        		xbackground: rgba(255,255,255, .7);
        		xpadding: 0px 5px 10px 5px;
        		xborder-radius: 10px;
        	}	
        	
        	
        
        	    
        	#quantity{
        		width: 100px;
        	}	
        	
        	textarea {
        		resize: none;
        		height: 70px!important;
        	}	
        	
        	
        	.highlight{
        		
        		background: rgba(255,0,0, .4);
        		
        	}
        	
        	.logout{
                position: absolute;
				    z-index: 10;
                top: 10px;
                right: 10px;
                font-size: 18px;
        	}
        	
        	.modal-body td {
        		padding: 2px;
        	}
        	
        	

    	

        	#fName{
        	    width:100%;
        		max-width: 300px;
        	}
        	
        	#lName{
        	    width:100%;
        		max-width: 300px;
        	}
        	
            #quantity{
        	    width:100%;
        		max-width: 100px;
        	}
        	
        	#phone{
        	    width:100%;
        		max-width: 200px;
        	}
        	
        	
        	#address{
        	    width:100%;
        		max-width: 400px;
        	}    

   
            .loading{
                background: rgba(0, 0, 0, 0.7);
                position:fixed;
                top:0;
                left:0;
                right:0;
                bottom:0;
                z-index: 100000;
                display:none;
            }

            .loading.show{
                display:block;
            }
			
			
            .loading div{
                margin-top: 200px;
                width: 60px;
                margin-left: auto;
                height: 50px;
                color: white;
                margin-right: auto;
                font-size: 25px;
            }
     



.fa-spin-custom, .glyphicon-spin {
    -xxwebkit-animation: spin 1000ms infinite linear;
    animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
			