
	
	html, body, #app, #app>div, .bg {
		height: 100%;
		color: #black;
		font-size: 15px;
		font-family: Arial, Tahoma, Verdana;
		margin:0;
	}




	h2, label {
		white-space: nowrap;
	}
	
	

	
    hr{
		border-color: #a0a0a0!important;
    }
	
	a{cursor:pointer;}
	
	.panel{
		background: rgba(255,255,255, .7);
		margin-bottom: 0;
		
		@media only screen and (max-width: 525px) {
			.panel-body {
				padding: 15px 3px;
			}
		}
	}

	.switch-wrapper {
	    position: relative;

		&>div {
			  position: absolute;
			  left:0;
			  right:0;
		}
	}

	main {	
		min-height: calc(100% - 130px);		
	    overflow:hidden;
		position: relative;
		z-index:2;
		
		@media only screen and (max-width: 550px) {
			& {
				min-height: calc(100% - 110px);	
			}
		}			
	}
	
	
	main>.panel{
		vertical-align: top;
		position: relative;
		opacity: 1;
		margin-left: auto;
		margin-right: auto;
		max-width: 700px;				
		display: block;		
		z-index: 3;
	}	
	
	
	.disabled {
		cursor:not-allowed;
		color:#777777;
	}
			
	









	
	

	.popover{
		font-weight: 700;
		white-space:nowrap;
	}
		


	.label-id{
		margin-bottom:0;
	}
	

	
	
	td {word-wrap: break-word; word-break: break-all;}
	
	table{
	    padding-left: 1px;
	    padding-right: 1px;
        width: calc(100% - 2px);
	    
	}
	
	.step-bar {
		width: 100%;
		max-width: 400px;
		margin: auto;
	
	}
	
	
	.select-menu{
	    
	    display:none!important;
	}
	
    @media only screen and (max-width: 767px) {
        .select-menu {
            display:none!important;
      
        }	
    }
    
	
	
	
	.fade-enter-done {
	
		opacity:1;
	}
	