	
	
	.mainGrid{
		white-space: nowrap;
		table-layout:fixed;
	}
	
	.mainGrid thead{
        font-weight: bold;
    }

	.mainGrid tbody{
        overflow-y: scroll;
        overflow-x: hidden;
    }	

    .mainGrid td{
        padding: 10px;
        border-bottom: solid #080808 1px;
        white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;	
	}
	
	.mainGrid   td:nth-child(1){
		width: 50px;
	}



	.mainGrid   td:nth-child(4){
		width: 90px;
	}
	
	.mainGrid   td:nth-child(5){
		width: 140px;
	}		
	
	.mainGrid   td:last-child{
		width: 120px;
	}	
	.order-window .foot{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: solid #d4d4d4 1px;
		background: #e6e6e6ed;
		user-select: none;
		padding:10px;
		height: 40px
	}
			
	
	.order-window{
		position:relative;   
	}
		 
		 
	.table-loader {
		position: absolute;
		top:41px; left:0;right:0;bottom:0;
		background: rgba(227, 227, 227, 0.4);
		z-index: 10;
	}	

	.table-loader>div {
		
		position: absolute;
		bottom: 0;
		padding: 10px;
	}


	.glyphicon-spin {
		color: #828282;
		margin: 10px auto;
		display: block;
		width: 30px;
		height: 30px;
		font-size: 30px;
	}	
			
			
	.foot .pagenum{
		text-align:center;
		display:inline-block;
		min-width:25px;
	}
	
	
	
	
	

	 /**************  HEADER     ********************/  
    @media screen and  (max-width : 540px) {
            .mainGrid td:nth-child(5),
            .mainGrid td:nth-child(6){
            	 display:none;
        }
   }    

 	.spin {
	  -webkit-animation: spin 2s infinite linear;
	  -moz-animation: spin 2s infinite linear;
	  -o-animation: spin 2s infinite linear;
	  animation: spin 2s infinite linear;
	}
	@-moz-keyframes spin {
	  from {
		-moz-transform: rotate(0deg);
	  }
	  to {
		-moz-transform: rotate(360deg);
	  }
	}
	@-webkit-keyframes spin {
	  from {
		-webkit-transform: rotate(0deg);
	  }
	  to {
		-webkit-transform: rotate(360deg);
	  }
	}
	@keyframes spin {
	  from {
		transform: rotate(0deg);
	  }
	  to {
		transform: rotate(360deg);
	  }
	}