

    	
	
	.login{
		sub {
			color:gray;
			font-size:16px;
			display:block;
		}
		
		max-width: 350px;	
		margin: 20px auto;		
		
		h2{
			margin:5px;
		}
		.spacer {
			height: 10px;
		}
		
		table td{
			padding: 5px 5px;
		}

	}	
	
	  
	
